DATABASE_URL="sqlserver://localhost:1433;database=InventarioMantenimiento;user=sa;password=5300;trustServerCertificate=true;"

#Server
PORT=3001

#Auth
#number valorsalt 
HASH_SALT=8
#clave secreta
JWT_SECRET=secret